.home {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 0 auto 0 180px;

  &__title {
    font-size: 25px;
    outline: 1px solid rgba(223, 221, 221, 0.5);
    border-radius: 10px;
    padding: 10px;
    padding-left: 22px;
  }

  &__publich {
    display: grid;
    grid-template-columns: 85px 710px;
    align-items: center;
    outline: 1px solid rgba(223, 221, 221, 0.5);
    border-radius: 10px;
    padding: 10px;

    &-svg {
      margin-left: 12px;
    }

    &-input {
      border: none;
      padding: 15px 3px;
      max-width: 690px;

      &:focus {
        border-radius: 10px;
        outline: 1px solid #50b7f5;
      }
    }
  }

  &__posts {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__post {
    width: 100%;
    display: grid;
    grid-template-columns: 90px 700px;
    justify-items: start;
    outline: 1px solid rgba(223, 221, 221, 0.5);
    border-radius: 10px;
    padding: 10px 0;

    &-svg {
      margin-left: 22px;
      cursor: pointer;
    }

    &-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      .home__post-header-name {
        margin-right: 20px;
        cursor: pointer;
      }

      .home__post-header-tag {
        color: gray;
        cursor: pointer;
      }
    }

    &-block {
    }

    &-info {
      margin: 10px auto;
      font-size: 14px;
      font-weight: normal;
    }

    &-image {
    }

    &-img {
      max-width: 690px;
      width: 100%;
      border-radius: 10px;
    }

    &-icons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      &-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        opacity: 0.6;
        cursor: pointer;
        transition: all 0.6s ease;

        &-svg {
        }
      }
    }
  }

  span {
    font-size: 12px;
  }
}
