.sidebar {
  max-width: 150px;
  width: 100%;
  margin-left: 10px;
  position: fixed;
  top: 30px;
  left: 10px;

  &__svg {
    display: block;
    margin-bottom: 20px;
  }

  &__list {
    margin-top: 0;
    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      max-width: 150px;
      width: 100%;
      padding: 2px;
      border-radius: 10px;
      margin-bottom: 4px;
      &:hover {
        background-color: rgba(241, 241, 241, 0.5);
      }
      &-image {
        margin-right: 10px;
        &-img {
        }
      }

      &-title {
        color: black;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          border-bottom: 1px solid #50b7f5;
          transition: all 0.5s;
        }
      }
    }
  }
  .active {
    background-color: #f1f1f1;

    svg {
      fill: #50b7f5;
      path {
        stroke: #50b7f5;
      }
      g {
        fill: #50b7f5;
      }
    }
    h5 {
      color: #50b7f5;
      position: relative;

      // @media (max-width: 700px) {
      //     display: none;
      //   }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #50b7f5;
        transition: all 0.5s;
      }
    }
  }
  &__button {
    background-color: #50b7f5;
    border-radius: 30px;
    border: none;
    max-width: 150px;
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    color: white;
    font-weight: 700;
    cursor: pointer;

    &:active {
      background-color: darken($color: #50b7f5, $amount: 10);
    }
  }
}
